@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');


/*Styles color*/
:root {



  /*Colors neutral*/
  --color-backgraund-site: hsl(218, 23%, 16%);
  --color-Grayish-Blue: hsl(217, 19%, 38%);
  --color-Dark-Grayish-Blue: hsl(217, 19%, 24%);

  /*Primary colors*/
  --color-text: hsl(193, 38%, 86%);
  --color-neon-green: hsl(150, 100%, 66%);



}

/*fonts styles*/
:root {
  
  --font-family: 'Manrope', sans-serif;
  --font-wights: 800;
  --font-size: 28px;
}



html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


body {
  background-color: var(--color-backgraund-site);
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: var(--font-wights);
  
  
}


/* Estilos específicos para pantallas de escritorio */
@media screen and (min-width: 1440px) {
  section .card {
    /* Añade o modifica estilos específicos para pantallas de escritorio */
  }
}

/* Estilos base para pantallas pequeñas (Mobile: 375px o menor) */
@media screen and (max-width: 375px) {
 html, body{
  width: 100%;
  height: 100%;
 }
}



